body {
    font-family: Arial;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(84,84,84);
  background: linear-gradient(0deg, rgba(84,84,84,1) 0%, rgba(115,115,115,1) 40%, rgba(159,159,159,1) 70%, rgba(215,215,215,1) 100%);
  }

  .App{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

/* Login form */
@media only screen and (min-width: 500px) {
  .authentication-app {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 500px) {
  .authentication-app {
    height: 100%;
  }
}

.authentication-app {
  background-color: white;
  padding: 20px 50px;
  max-width: 500px;
  text-align: center;
}

.login-tag{
  max-width: 590px;
  margin: 10px auto;
  text-align: left;
  padding: 0 10px;
}

.login-input{
  max-width: 590px;
  margin: 10px auto;
  align-items: center;
  text-align: left;
  padding: 0 10px;
}

.login-btn{
  max-width: 600px;
  margin: 15px auto;
  text-align: left;
  padding: 0 10px;
}

.date-select {
  max-width: 590px;
  margin: 10px auto;
  align-items: center;
  text-align: left;
  padding: 0 10px;
}

.date-select-selector{
  display: flex;
  max-width: 300px;
  align-items: left;
  justify-content: space-between;
}

/* Reservation */
.reservation-app {
  max-width: 700px;
  top: 0;
  margin: auto;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.reservation-tag{
  max-width: 600px;
  margin: 15px auto;
  left: 50px;
  align-items: center;
  padding: 0 10px;
}

.date-selector {
  max-width: 590px;
  margin: 10px auto;
  align-items: center;
  text-align: left;
  padding: 0 10px;
}

/* Timeslot */
.timeslot {
  border-radius: 2px;
  border-bottom:2.5px solid rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 600px;
}

.timeslot-time {
  padding: 10px 10px;
  font-weight: bold;
}

.timeslot-btn {
  border: 1px solid black;
  margin: 0px 10px !important;
}
  